.title{
    font-size: 2.6em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header{
    width: 100%;
    padding: 0;
    background-color: rgb(241, 245, 249);
    margin-bottom: 20px;
    text-align: center;
    
}

header nav a{
    color: rgb(43,52,69);
    margin-right: 40px;
}

header nav a:hover{
    color: rgb(254, 105, 106);
}

.listaheader{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    flex-direction: row;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(43, 52, 69);
}

.title1{
    font-size: 2.4em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

article{
    line-height: 25px;
    min-height: calc(100vh - 60px);

}

.container{
    width: 95%; 
    max-width: 850px; 
    margin: 0 auto;
    font-size: 1.1em;
}

.div-img {
    display: grid;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.resum {
    margin: 12px 0 0 0;
    letter-spacing: -0.02em;
    font-size: 17px;
    list-style: none;
}

.us-img{
    width: 18px;
    height: 18px;
}

.bloque {
    display: inline-flex;
    width: 100%;
    margin: 0px 10px;
}

.columna{
    width: 49%;
}

.creditos{
    list-style: disc;
}

.enlacePlataforma{
    color: rgb(254, 105, 106);
}
.enlacePlataforma:hover{
    color: rgba(254, 105, 106, 0.5);
}

.textCategoria{
    font-size: 2em;
    line-height: 35px;
    max-width: 550px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.publicaciones{
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.imgPubli{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 30%;
}

.imgPubli2{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.enlace-img {
    display: block;
    text-decoration: none;
}

.texto-debajo {
    text-align: center;
    margin-top: 10px;
}

.datospersona{
    list-style: none;
}

footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    filter: brightness(0.8);
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 599px) {
    .listaheader {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 40px;
    }

    .listaheader a{
        width: 100%;
    }
}
